extends layout

block content
  h1 Welcome  
  p 

  br 
  br 
  br  
  p Source of materials 
   ul
    li: a(href = "https://www.youtube.com/watch?v=wtIvu085uU0") For Install and base of our webpage
    li: a(href = "https://www.npmjs.com/") For installing denpendencies
